/* * {
  background-color: #333542;
} */
.container {
  padding: 46px;
  border: 3px;
  border-color: yellow;
  border-style: solid;
  background-color: #333542;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.col {
  border-top: 1px;
  border-color: red;
  /* border-style: solid; */
  border-top-style: solid;
  width: 210px;
  text-align: center;
  background-color: #3e3f4e;
  /* background-color: #2e39d1; */

  color: white;
  padding-bottom: 10px;
}
