<div class="container">
  <div class="row" id="cards">
    <div *ngFor="let eachcard of data; let i = index">
      <div
        class="col"
        [ngStyle]="{ 'border-color': chartColors[i % 4].backgroundColor }"
      >
        {{ chartColors[i % 4].borderColor }}
        <div class="card border-dark mb-3">
          <div class="card-header" style="padding-top: 10px">
            {{ eachcard.header }}
          </div>
          <div class="card-body text-dark">
            <h3 class="card-title" style="margin-top: 4px; border: none">
              {{ eachcard.title }}
            </h3>
            <p class="card-text" style="margin: 0px">
              {{ eachcard.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 60px">
    <div id="bar-chart" style="border-top: 2px">
      <canvas
        baseChart
        [options]="optionsVariable"
        [chartType]="'bar'"
        [legend]="true"
        [datasets]="barChartData"
      >
      </canvas>
    </div>
    <div id="line-chart">
      <canvas
        baseChart
        [chartType]="'line'"
        [legend]="true"
        [datasets]="lineData"
      >
      </canvas>
    </div>
  </div>
</div>
